
<ion-header no-border class="ContentFadeIn expanded">
      <ion-navbar color="ibsbg">
      	<ion-title>
      		Invoice Detail
      	</ion-title>
        <ion-buttons left class="expandedBtn">
        <!-- <button ion-button  class="backbutton">
          <ion-icon name="arrow-back"></ion-icon>
          Back
        </button> -->
        <button ion-button menuToggle>
	      <ion-icon name="menu"></ion-icon>
	    </button>
    </ion-buttons>
      </ion-navbar>
  </ion-header>



<ion-content *ngIf="peopleInfo != null" class="content-absolute ">
  
<ion-list id="listbtn" class="mB0">
  <button id="" class="transparent w100 active">
      <ion-card class="card-margin">
        <ion-card-header class="pTB0 pLR10">
         <ion-item no-padding>

          <h2 text-capitalize class="mL10 mT0"><strong>{{peopleInfo.ApplicationNumber}}</strong>
            </h2>
        </ion-item>
        </ion-card-header>
        <ion-card-content class="p10">
          <ion-item no-padding>
            <ion-grid>
              <ion-row>
                <ion-col col-4>
                  <span>Amount</span>
                  <br>
                  <strong text-capitalize class="font-size09em">₹{{peopleInfo.ApplicationAmount}}</strong>
                </ion-col>
                <ion-col col-4>
                  <span>Date</span>
                  <br>
                  <strong text-capitalize class="font14">{{peopleInfo.ApplicationDate | date:'MMM dd, yyyy'}}</strong>
                </ion-col>
                <ion-col col-4>
                  <span>Supplier Name</span>
                  <br>
                  <strong text-capitalize class="font14">{{peopleInfo.SupplierName}}</strong>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-card-content>
      </ion-card>
  </button>
</ion-list>
<ion-content class="movable" padding>
	<ion-list padding>
	  <div class="paddingTop170">

	  	<ion-list>
		  <ion-item>
			    <h2><strong>Bank Name</strong></h2>
			    <p><strong>{{peopleInfo.BankName}}</strong></p>
		  </ion-item>
		  <ion-item>
		    <h2><strong>Batch Number</strong></h2>
		    <p><strong>{{peopleInfo.BatchNumber}}</strong></p>
		  </ion-item>
		  <ion-item>
		    <h2><strong>Company</strong></h2>
		    <p><strong>{{peopleInfo.Company}}</strong></p>
		  </ion-item>
		  <ion-item>
		    <h2><strong>Due Date</strong></h2>
		    <p><strong>{{peopleInfo.DueDate | date:'dd, MMM yyyy'}}</strong></p>
		  </ion-item>
		  <ion-item>
		    <h2><strong>LOB Name</strong></h2>
		    <p><strong>{{peopleInfo.LOBName}}</strong></p>
		  </ion-item>
		  <ion-item>
		    <h2><strong>Supplier Name</strong></h2>
		    <p><strong>{{peopleInfo.SupplierName}}</strong></p>
		  </ion-item>

		</ion-list>
	  </div>
	  

	</ion-list>
</ion-content>
	<div class="cardTab">
	    <button ion-button  clear class="tabButton approved" (click)="showConfirm(true,false)">
	      <ion-icon name="checkmark"></ion-icon>
	    </button>

	    <!-- Float the icon right -->
	    <button ion-button  clear float-right class="tabButton rejected" (click)="showConfirm(false,true)">
	      <ion-icon name="close"></ion-icon>
	    </button>

	  </div>
</ion-content>
