page-list {
	.light-bg{
		background:#fff;
	}
	/*.card-md{
		border-radius:10px;
	}*/
	.p10{
		padding:10px;
	}
	.pTB0{
		padding-top:0;
		padding-bottom:0;
	}
	.pLR10{
		padding-left:10px;
		padding-right : 10px
	}
	.w100{
		width : 100%;
	}
	ion-col span{
		font-size: 14px;
	    letter-spacing: 0.5px;
	    font-weight: 300;
	}
	ion-card-content ion-label{
		margin:0px !important;
	}
	.font14{
	    font-size: 14px;
	}
	.mT10{
		margin-top:10px !important;
	}
	.card-margin{
		margin: 5px 10px;
	}

	
	
	.mT56{
		margin-top: 56px;
	}

	
	button.light-bg.w100.inactive {
	    display: none;
	}
	.mT0{
		margin-top:0px;
	}
	
		.expanded {
			    -moz-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
				    -o-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
				    -webkit-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
				    transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
				    -o-transform: translate3d(0, 0, 0);
				    -moz-transform: translate3d(0, 0, 0);
				    -webkit-transform: translate3d(0, 0, 0);
				    transform: translate3d(0, 0, 0);
			}
			.expanded .toolbar{
				/*height:100px !important;*/
				min-height:0px !important;
				animation:ContentFadeIn 1.2s ease-out forwards;
			    /*animation-name: fadeIn;*/
			   /* animation-duration: 2s;*/
			   animation-iteration-count:1;
			}
			.expandedBtn {
			    bottom: 0;
			    left: 4px;
			    position: absolute;
			    /*top: initial;*/
			    top: 18px;
			    right: initial;
			    font-size:16px;
			    animation:ContentBtnFadeIn 1.5s cubic-bezier(0.4, 0, 1, 1) forwards;
			    /*animation-name: fadeIn;
	   			animation-duration: 6s;*/
			}
			@keyframes ContentFadeIn {
			    from {
				height: 0px;
				top:-50px;
			     opacity: 0.5;
			    }

			    to {
			    height: 125px;
			    top:0px;
			     opacity: 1;
			    }
			  }
			  @keyframes ContentBtnFadeIn {
			    from {
			     opacity: 0;
			     /*top:-50px;*/
			    }

			    to {
			     opacity: 1;
			     /*top:8px;*/
			    }
			  }
			  @keyframes ContentBtnFadeOut {
			    from {
			     opacity: 1;
			    }

			    to {
			     opacity: 0;
			    }
			  }
			  #listbtn > button{

			    animation:fadeIn 0.2s cubic-bezier(0.4, 0, 1, 1) forwards;
			}
			  #listbtn button.active{
				z-index: 999;
			    position: absolute;
		        top: 56px;
			    background: transparent;
			    opacity: 1;
			    /*animation:btnActive 1s cubic-bezier(0.4, 0, 1, 1) forwards;*/
			    animation:btnActive 0.8s cubic-bezier(0.4, 0, 1, 1) forwards;
			}
			@keyframes btnActive {
			    from {
			     top:250px;
			    }

			    to {
			     top: 56px;
			    }
			  }
			#listbtn button.inactive{
				/*animation:btnActive 1.5s cubic-bezier(0.4, 0, 1, 1) forwards;*/
				animation:fadeOut .5s ease-out;
			}
			@keyframes btnInActive {
			    from {
			     opacity:1;
			    }

			    to {
			     opacity:0;
			    }
			  }

			  

		.expanded .toolbar-background {
		    -moz-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
		    -o-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
		    -webkit-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
		    transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
		    -o-transform: translate3d(0, 0, 0);
		    -moz-transform: translate3d(0, 0, 0);
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		}
		.expanded .toolbar-title {
		    opacity: 1;
		    -moz-transition: all 2s cubic-bezier(0.55, 0, 0.1, 1);
		    -o-transition: all 2s cubic-bezier(0.55, 0, 0.1, 1);
		    -webkit-transition: all 2s cubic-bezier(0.55, 0, 0.1, 1);
		    transition: all 2s cubic-bezier(0.55, 0, 0.1, 1);
		}
		.expanded .toolbar-title{
		    bottom: 0;
		    left: 4px;
		    position: absolute;
		    /*top: initial;*/
		    top: -40px;
		    right: initial;
		    font-size:16px;
		}
		
		.expandedBtn ion-icon {
		    padding-right:5px;
		}
		.expanded .fixed-content,.expanded .scroll-content{
			margin-top : 0px !important;
			overflow: hidden;
			margin-bottom: 0px !important;
		}
		.content-absolute{
			position:absolute;
			/*top: 32%;*/
			
		}
		.content-absolute .paddingTop170{ 
			position:relative;
			/*animation:PaddingfadeIn 1.2s cubic-bezier(0.6, -0.28, 0.74, 0.05) forwards;*/
			animation:PaddingfadeIn 1s cubic-bezier(0.6, -0.28, 0.74, 0.05) forwards;
			z-index:0;
			width:100%;
		}
		@keyframes PaddingfadeIn {
		    from {
		      opacity: 0;
		      top:-100px;
		    }

		    to {
		      top:10px;
		      opacity: 1;
		    }
		  }
		@keyframes fadeIn {
		    from {
		      opacity: 0;
		    }

		    to {
		      opacity: 1;
		    }
		  }
		.content-absolute .fixed-content,.content-absolute .scroll-content{
			overflow-y:scroll;
			overflow-x:hidden;
			margin-bottom: 70px !important;
			/*margin-bottom: 180px !important;*/
		}
		/*.content-absolute .scroll-content{
			    margin-bottom: 138px;
		}*/
		.paddingTop170{
			padding-top : 170px;
		}
		.tabButton{
			background: #4889ff;
		    color: white;
		    border-radius: 50%;
		    width: 60px;
		    height: 60px;
		    box-shadow: 2px 4px 6px grey;
		}
		.tabButton .button-inner{
			font-size: x-large;
		    /*position: relative;
		    left: 4px;*/
		}
		.peech{
			background:#FF6347;
		}
		.cardTab{
			padding: 0 54px;
		    position: fixed;
		    bottom: 15px;
		    width: 100%;
		    right: 0;
		    left: 0;
		    /*animation:cardTab 1.2s ease-out;*/
		    animation:cardTab 1s ease-out;
		}
		@keyframes cardTab {
	    from {
	     bottom:-50px;
	    }

	    to {
	     bottom: 15px;
	    }
	  }
	@media screen and (orientation: landscape){
		
		.content-absolute {
		    /*top: 57%;*/	
	    }
	}

	.backbutton{
	padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
	}
	/*button.activated, button.activated .card, button.activated .card-header .item,button.activated .card-content .item {
    	background: #ebebeb;
	}*/
	
}
