<ion-header no-border>
  <ion-navbar color="ibsbg" *ngIf="!itemSelected" [ngClass]="itemSelected == false ? 'fadeOut' : ''">
    <ion-title>List of invoices</ion-title>
    <ion-buttons right>
    <button ion-button icon-only (click)="presentPopover($event)">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content color="light" [ngClass]="itemSelected == true ? 'mT0 expanded' : ''" ><!-- fullscreen #content -->
<ion-list id="listbtn" class="mT10">
  <button *ngFor="let item of list; let i = index" class="light-bg w100" (click)="goToInvoiceDetail($event, item,i)" [disabled]="itemSelected">
      <ion-card class="card-margin"><!-- [ngClass]="{'mT10' : i == 0}"  -->
        <ion-card-header class="pTB0 pLR10">
         <ion-item no-padding>
          <!-- <ion-avatar item-start>
            <img src="{{item.picture.thumbnail}}">
          </ion-avatar> -->
          <h2 text-capitalize class="mL10"><strong>{{item.ApplicationNumber}}</strong>
              <span float-right class="font14"><strong>{{item.DueDate | date:'dd MMM yyyy'}}</strong></span>
            </h2>
        </ion-item>
        </ion-card-header>
        <ion-card-content class="p10">
          <ion-item no-padding>
            <ion-grid>
              <ion-row>
                <ion-col col-4>
                  <span>Amount</span>
                  <br>
                  <strong text-capitalize class="font-size09em">₹{{item.ApplicationAmount}}</strong>
                </ion-col>
                <ion-col col-4>
                  <span>Date </span>
                  <br>
                  <strong text-capitalize class="font14">{{item.ApplicationDate | date:'MMM dd, yyyy'}}</strong>
                </ion-col>
                <ion-col col-4>
                  <span>Supplier Name</span>
                  <br>
                  <strong text-capitalize class="font14">{{item.SupplierName}}</strong>
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- <span item-left>Amount <br>
              {{item.location.postcode}}
            </span>
            <span center>Sex <br>
              {{item.gender}}
            </span>
            <span item-right>Mobile <br>
              {{item.phone}}
            </span> -->
          </ion-item>
        </ion-card-content>
      </ion-card>
  </button>
</ion-list>
<!-- <ion-header no-border class="fixed" *ngIf="itemSelected" [ngClass]="itemSelected == true ? 'ContentFadeIn' : ''">
      <ion-navbar color="primary">
        <ion-buttons left class="expandedBtn">
        <button ion-button  (click)="resetList()" class="backbutton">
          <ion-icon name="arrow-back"></ion-icon>
          Back
        </button>
    </ion-buttons>
      </ion-navbar>
  </ion-header>
<ion-content *ngIf="peopleInfo != null && itemSelected" class="content-absolute" padding>
  
  <div class="paddingTop170">
    <p text-capitalize><strong>{{peopleInfo.name.title}} {{peopleInfo.name.first}} {{peopleInfo.name.last}}</strong></p>
    <p text-capitalize><strong>Cell :</strong> <span>{{peopleInfo.cell}}</span></p>
    <p text-capitalize><strong>Date :</strong> <span>{{peopleInfo.dob | date:'dd MMM, yyyy'}}</span></p>
    <p text-capitalize><strong>Email :</strong> <span>{{peopleInfo.email}}</span></p>
    <p text-capitalize><strong>Gender :</strong> <span>{{peopleInfo.gender}}</span></p>
    <p text-capitalize>
      <strong>Address :</strong> 
      <br>
        <span>{{peopleInfo.location.street}}</span><br>
        <span>{{peopleInfo.location.city}}</span> - <span>{{peopleInfo.location.postcode}}</span><br>
        <span>{{peopleInfo.location.state}}</span>
    </p>
    <p text-capitalize><strong>Phone :</strong> {{peopleInfo.phone}}</p>
  </div>
  <div class="cardTab">
    <button ion-button  clear class="tabButton">
      <ion-icon name="ios-card-outline"></ion-icon>
    </button>

    <button ion-button  clear float-right class="tabButton peech">
      <ion-icon name="ios-cash-outline"></ion-icon>
    </button>

  </div>
</ion-content> -->



</ion-content>
