<ion-header >
  <ion-navbar color="ibs">
    <ion-title *ngIf="!toggled">
      List Of Invoices
    </ion-title>
    <ion-searchbar
       *ngIf="toggled"
       [(ngModel)]="someValue"
       (ionInput)="searchThis($event)"
       (ionCancel)="cancelSearch($event)"
       (ionClear) = "cancelSearch($event)"
       [animated]="true" [showCancelButton]="false">
    </ion-searchbar>
    <ion-buttons end *ngIf="!toggled">
      

      <button ion-button icon-only (click)="toggle()"><ion-icon *ngIf="!toggled"   name="search"></ion-icon></button>
    </ion-buttons>
    
  </ion-navbar>
</ion-header>
 
<ion-content>
 
    <ion-list class="list-no-margin" no-border>
      <div detail-none  ion-item *ngFor="let item of items" no-border>
        <ion-card class="card-margin" (click)="expandItem(item)"><!-- [ngClass]="{'mT10' : i == 0}"  -->
        <ion-card-header class="pTB0 pLR10">
         <ion-item no-padding>
          <!-- <ion-avatar item-start>
            <img src="{{item.picture.thumbnail}}">
          </ion-avatar> -->
          <h2 text-capitalize margin-left><strong>{{item.name.title}} {{item.name.first}} {{item.name.last}}</strong>
              <!-- <span float-right>{{item.dob | date:'dd MMM yyyy'}}</span> -->
            </h2>
        </ion-item>
        </ion-card-header>
        <ion-card-content class="p10">
          <ion-item no-padding>
            <ion-grid>
              <ion-row>
                <ion-col col-4>
                  <span>Amount</span>
                  <br>
                  <strong text-capitalize>₹{{item.location.postcode}}</strong>
                </ion-col>
                <ion-col col-4>
                  <span>Date </span>
                  <br>
                  <strong text-capitalize class="font14">{{item.dob | date:'MMM dd, yyyy'}}</strong>
                </ion-col>
                <ion-col col-4>
                  <span>Supplier Name</span>
                  <br>
                  <strong text-capitalize class="font14">{{item.name.first}} {{item.name.last}}</strong>
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- <span item-left>Amount <br>
              {{item.location.postcode}}
            </span>
            <span center>Sex <br>
              {{item.gender}}
            </span>
            <span item-right>Mobile <br>
              {{item.phone}}
            </span> -->
          </ion-item>
        </ion-card-content>
      </ion-card>
        <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded" class="ibs-bg">
            <div padding>
		    <p text-capitalize><strong>{{invoice.name.title}} {{invoice.name.first}} {{invoice.name.last}}</strong></p>
		    <p text-capitalize><strong>Cell :</strong> <span>{{invoice.cell}}</span></p>
		    <p text-capitalize><strong>Date :</strong> <span>{{invoice.dob | date:'dd MMM, yyyy'}}</span></p>
		    <p text-capitalize><strong>Email :</strong> <span>{{invoice.email}}</span></p>
		    <p text-capitalize><strong>Gender :</strong> <span>{{invoice.gender}}</span></p>
		    <p text-capitalize>
		      <strong>Address :</strong> 
		      <br>
		        <span>{{invoice.location.street}}</span><br>
		        <span>{{invoice.location.city}}</span> - <span>{{invoice.location.postcode}}</span><br>
		        <span>{{invoice.location.state}}</span>
		    </p>
		    <p text-capitalize><strong>Phone :</strong> {{invoice.phone}}</p>
		  </div>
		  <div class="cardTab">
		    <button ion-button  clear class="tabButton">
		      <ion-icon name="ios-card-outline"></ion-icon>
		    </button>
		    <button ion-button  clear float-right class="tabButton peech">
		      <ion-icon name="ios-cash-outline"></ion-icon>
		    </button>

		  </div>
            
        </expandable>
        <!-- <button ion-button clear item-end>View</button> -->
      </div>


    </ion-list>
 
</ion-content>