page-invoice-detail {
	ion-header.ContentFadeIn.expanded.header{
		z-index: 1;
	}

	.light-bg{
		background:#fff;
	}
	/*.card-md{
		border-radius:10px;
	}*/
	.p10{
		padding:10px;
	}
	.pTB0{
		padding-top:0;
		padding-bottom:0;
	}
	.pLR10{
		padding-left:10px;
		padding-right : 10px
	}
	.w100{
		width : 100%;
	}
	ion-col span{
		font-size: 14px;
	    letter-spacing: 0.5px;
	    font-weight: 300;
	}
	ion-card-content ion-label{
		margin:0px !important;
	}
	.font14{
	    font-size: 14px;
	}
	.mT10{
		margin-top:10px !important;
	}
	.card-margin{
		margin: 5px 10px;
	}
	.mT56{
		margin-top: 56px;
	}
	.mB10{
		margin-bottom: 10px;
	}
	
	button.light-bg.w100.inactive {
	    display: none;
	}
	.mT0{
		margin-top:0px;
	}
	
		.expanded {
			    // -moz-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
				   //  -o-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
				   //  -webkit-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
				   //  transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
				   //  -o-transform: translate3d(0, 0, 0);
				   //  -moz-transform: translate3d(0, 0, 0);
				   //  -webkit-transform: translate3d(0, 0, 0);
				   //  transform: translate3d(0, 0, 0);
			}
			.expanded .toolbar{
				/*height:100px !important;*/
				min-height:0px !important;
				animation:ContentFadeIn 0.6s ease-out forwards;
			   
			}
			.expandedBtn {
			    bottom: 0;
			    left: 4px;
			    position: absolute;
			    /*top: initial;*/
			    top: 18px;
			    right: initial;
			    font-size:16px;
			    animation:ContentBtnFadeIn 1.5s cubic-bezier(0.4, 0, 1, 1) forwards;
			    /*animation-name: fadeIn;
	   			animation-duration: 6s;*/
			}
			.ContentFadeIn1{
				height: 125px;
			}
			@keyframes ContentFadeIn {
			    from {
				height: 0px;
				top:-50px;
			     /*opacity: 0.5;*/
			    }

			    to {
			    height: 125px;
			    top:0px;
			    /* opacity: 1;*/
			    }
			  }
			  @keyframes ContentBtnFadeIn {
			    from {
			     opacity: 0;
			     /*top:-50px;*/
			    }

			    to {
			     opacity: 1;
			     /*top:8px;*/
			    }
			  }
			  @keyframes ContentBtnFadeOut {
			    from {
			     opacity: 1;
			    }

			    to {
			     opacity: 0;
			    }
			  }
			  #listbtn{
			  
			  }
			  #listbtn button.active{
				z-index: 999;
				
				animation:btnActive 0.8s cubic-bezier(0.4, 0, 1, 1) forwards;
			    background: transparent;
			    /*animation:btnActive 1s cubic-bezier(0.4, 0, 1, 1) forwards;*/
			    
			}
			#btnWidget button.active{
				z-index: 999;
			    position: absolute;
		        top: 0px;
			    background: transparent;
			    /*animation:btnActive 1s cubic-bezier(0.4, 0, 1, 1) forwards;*/
			    animation:btnActive 0.8s  forwards;
			}

			@keyframes btnActive {
			    from {
			     top:0px;
			    }

			    to {
			     top: 250px;
			    }
			  }
			#listbtn button.inactive{
				/*animation:btnActive 1.5s cubic-bezier(0.4, 0, 1, 1) forwards;*/
				animation:fadeOut .5s ease-out;
			}
			@keyframes btnInActive {
			    from {
			     opacity:1;
			    }

			    to {
			     opacity:0;
			    }
			  }

			  

		.expanded .toolbar-background {
		    -moz-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
		    -o-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
		    -webkit-transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
		    transition: height 1s cubic-bezier(0.55, 0, 0.1, 1);
		    -o-transform: translate3d(0, 0, 0);
		    -moz-transform: translate3d(0, 0, 0);
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
		}
		.expanded .toolbar-title {
		    opacity: 1;
		    -moz-transition: all 2s cubic-bezier(0.55, 0, 0.1, 1);
		    -o-transition: all 2s cubic-bezier(0.55, 0, 0.1, 1);
		    -webkit-transition: all 2s cubic-bezier(0.55, 0, 0.1, 1);
		    transition: all 2s cubic-bezier(0.55, 0, 0.1, 1);
		}
		.expanded .toolbar-title{
		    bottom: 0;
		    left: 0;
		    position: absolute;
		    top: initial;
		    top: -40px;
		    right: initial;
		    /* font-size: 16px;*/
		}
		
		.expandedBtn ion-icon {
		    padding-right:5px;
		}
		
		.content-absolute{
			/*position:absolute;
			top: 32%;*/
			margin-top: 56px;
			
		}
		.content-absolute .paddingTop170{ 
			position:relative;
			/*animation:PaddingfadeIn 1.2s cubic-bezier(0.6, -0.28, 0.74, 0.05) forwards;*/
			animation:PaddingfadeIn 0.8s ease-in-out forwards;
			z-index:0;
			width:100%;
		}
		@keyframes PaddingfadeIn {
		    from {
		      opacity: 0;
		      top:-100px;
		    }

		    to {
		      top:10px;
		      opacity: 1;
		    }
		  }
		@keyframes fadeIn {
		    from {
		      opacity: 0;
		    }

		    to {
		      opacity: 1;
		    }
		  }
		  .content-absolute .fixed-content,.content-absolute .scroll-content{
		  	overflow-y:hidden;
			overflow-x:hidden;
			margin-bottom: 135px !important;
		  }
		.movable .fixed-content,.movable .scroll-content{
			overflow-y:scroll !important;
			overflow-x:hidden !important;
			
			/*margin-bottom: 180px !important;*/
		}
		.movable .scroll-content{
			padding:0px !important;
		}
		.movable[padding] .list{
			padding: 0px 16px 16px 16px; 
		}
		/*.content-absolute .scroll-content{
			    margin-bottom: 138px;
		}*/
		.paddingTop170{
			/*padding-top : 170px;*/
		}
		.tabButton{
			/*background: #4889ff;*/
		    color: white;
		    border-radius: 50%;
		    width: 60px;
		    height: 60px;
		    box-shadow: 2px 4px 6px grey;
		}
		.tabButton .button-inner{
			font-size: x-large;
		    /*position: relative;
		    left: 4px;*/
		}
		.approved{
			background:#32db64;
			color:#fff;
		}
		.rejected{
			color: #fff;
    		background-color: #f53d3d;
		}
		.peech{
			background:#FF6347;
		}
		.cardTab{
			padding: 0 54px;
		    position: fixed;
		    bottom: 10px;
		    width: 100%;
		    right: 0;
		    left: 0;
		    /*animation:cardTab 1.2s ease-out;*/
		    animation:cardTab 1s ease-out;
		}
		@keyframes cardTab {
	    from {
	     bottom:-50px;
	    }

	    to {
	     bottom: 15px;
	    }
	  }
	@media screen and (orientation: landscape){
		
		.content-absolute {
		    /*top: 57%;*/	
	    }
	}

	.backbutton{
	padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
	}
	.expanded .back-button{
		top: -29px;
    position: relative;
	}
	.transparent{
		background: transparent;
	}
	h2 span{
		font-size: 12px;
	}
}
