// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  white : #fff,
  ibs : #0090d0,
  transparent : transparent,
  ibsbg : #1a99d2
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


$ion-ripple-color: #fff !default;
$ion-ripple-duration: .45s !default;

.ibs-bg{
	background: linear-gradient(to left, #00bee4 0%, #0091d2 100%);
}
.ibs-bg .toolbar-background{
	background: transparent;
}
.ibs-bg .toolbar-title,.ibs-bg button{
	color:#fff !important;
}
/********** GLOBAL STYLES **********/

/**width size**/
/*.w0{ width:0px !important;}
.w5{ width:5px !important;}
.w10{ width:10px !important;}
.w50{ width:50px !important;}
.w80{ width:80px !important;}
.w100{ width:100px !important;}
.w110{ width:110px !important;}
.w115{ width:115px !important;}
.w120{ width:120px !important;}
.w150{ width:150px !important;}
.w160{ width:160px !important;}
.w170{ width:170px !important;}
.w180{ width:180px !important;}
.w190{ width:190px !important;}
.w200{ width:200px !important;}
.w238{ width:238px !important;}
.w250{ width:250px !important;}
.w260{ width:260px !important;}
.w270{ width:270px !important;}
.w280{ width:280px !important;}
.w290{ width:290px !important;}
.w300{ width:300px !important;}
.w310{ width:310px !important;}
.w320{ width:320px !important;}
.w330{ width:330px !important;}
.w340{ width:340px !important;}
.w350{ width:350px !important;}
.w610{ width:610px !important;}
.fullWidth{ width:100%;}*/

/**margin-top**/
.mT0{ margin-top:0px !important;}
.mT2{ margin-top:2px !important;}
.mT5{ margin-top:5px !important;}
.mT10{ margin-top:10px !important;}
.mT15{ margin-top:15px !important;}
.mT20{ margin-top:20px !important;}
.mT21{ margin-top:21px !important;}
.mT25{ margin-top:25px !important;}
.mT30{ margin-top:30px !important;}
.mT35{ margin-top:35px !important;}
.mT40{ margin-top:40px !important;}
.mT50{ margin-top:50px !important;}
.mT60{ margin-top:60px !important;}
.mT28{ margin-top:28px !important; text-align: right;}

/**margin-left**/
.mL0{ margin-left:0px !important;}
.mL5{ margin-left:5px !important;}
.mL10{ margin-left:10px !important;}
.mL15{ margin-left:15px !important;}
.mL20{ margin-left:20px !important;}
.mL25{ margin-left:25px !important;}
.mL30{ margin-left:30px !important;}
.mL40{ margin-left:40px !important;}
.mL50{ margin-left:50px !important;}
.mL55{ margin-left:55px !important;}
.mL190{ margin-left:190px !important;}
.margin-Left{ margin-left:274px !important;}


/**margin-right**/
.mR0{ margin-right:0;}
.mR2{ margin-right:2px !important;}
.mR5{ margin-right:5px !important;}
.mR10{ margin-right:10px !important;}
.mR12{ margin-right:12px !important;}
.mR14{ margin-right:14px !important;}
.mR15{ margin-right:15px !important;}
.mR18{ margin-right:18px !important;}
.mR20{ margin-right:20px !important;}
.mR21{ margin-right:21px !important;}
.mR22{ margin-right:22px !important;}
.mR23{ margin-right:23px !important;}
.mR24{ margin-right:24px !important;}
.mR25{ margin-right:25px !important;}
.mR30{ margin-right:30px !important;}
.mR40{ margin-right:40px !important;}
.mR45{ margin-right:45px !important;}
.mR50{ margin-right:50px !important;}
.mR55{ margin-right:55px !important;}
.mR60{ margin-right:60px !important;}
.mR65{ margin-right:65px !important;}
.mR70{ margin-right:100px !important;}
.mR80{ margin-right:80px !important;}

/**margin-bottom**/
.mB0{ margin-bottom:0px !important;}
.mB5{ margin-bottom:5px !important;}
.mB10{ margin-bottom:10px !important;}
.mB15{ margin-bottom:15px !important;}
.mB20{ margin-bottom:20px !important;}
.mB25{ margin-bottom:25px !important;}
.mB28{ margin-bottom:28px !important;}
.mB30{ margin-bottom:30px !important;}
.mB35{ margin-bottom:35px !important;}
.mB45{ margin-bottom:45px !important;}
.mB60{ margin-bottom:60px !important;}
.mB160{ margin-bottom:160px !important;}

/**padding**/
.p0{ padding:0;}
.p5{ padding:5px !important;}
.p8{ padding:8px !important;}
.p10{ padding:10px !important;}
.p12{ padding:12px !important;}
.p15{ padding:15px !important;}
.p20{ padding:20px !important;}
.p25{ padding:25px !important;}
.p30{ padding:30px !important;}

/**padding-top**/
.pT0{ padding-top:0px !important;}
.pT2{ padding-top:2px !important; }
.pT8{ padding-top:8px !important;}
.pT5{ padding-top:5px !important;}
.pT10{ padding-top:10px !important;}
.pT15{ padding-top:15px !important;}
.pT14{ padding-top:14px !important;}
.pT20{ padding-top:20px !important;}
.pT25{ padding-top:25px !important;}
.pT30{ padding-top:30px !important;}
.pT40{ padding-top:40px !important;}
.pT50{ padding-top:60px !important;}


/**padding-bottom**/
.pB0{ padding-bottom:0px !important;}
.pB5{ padding-bottom:5px !important;}
.pB10{ padding-bottom:10px !important;}
.pB14{ padding-bottom:14px !important;}
.pB15{ padding-bottom:15px !important;}
.pB20{ padding-bottom:20px !important;}
.pB25{ padding-bottom:25px !important;}
.pB30{ padding-bottom:30px !important;}
.pB40{ padding-bottom:40px !important;}
.pB80{ padding-bottom:80px !important;}

/**padding-left**/
.pL0{ padding-left:0px !important;}
.pL5{ padding-left:5px !important;}
.pL10{ padding-left:10px !important;}
.pL15{ padding-left:15px !important;}
.pL20{ padding-left:20px !important;}
.pL25{ padding-left:25px !important;}
.pL32{ padding-left:32px !important;}
.pL40{ padding-left:40px !important;}
.pL50{ padding-left:50px !important;}
.pL60{ padding-left:60px !important;}
.pL80{ padding-left:80px !important;}

/**padding-right**/ 
.pR0 {padding-right: 0px !important;}
.pR5 {padding-right: 5px !important;}
.pR10 {padding-right: 10px !important;}
.pR15 {padding-right: 15px !important;}
.pR20 {padding-right: 20px !important;}
.pR25 {padding-right: 25px !important;}
.pR30 {padding-right: 30px !important;}

.font-size09em{
		font-size: 0.9em;
	}

	.box h3{
  text-align:center;
    position:relative;
    top:80px;
}
.box {
    width:70%;
    height:200px;
    background:#FFF;
    margin:40px auto;
}
/*==================================================
 * Effect 1
 * ===============================================*/
.effect1{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/*==================================================
 * Effect 3
 * ===============================================*/
.effect3
{
  position: relative;
}
.effect3:before
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/*==================================================
 * Effect 4
 * ===============================================*/
.effect4
{
  position: relative;
}
.effect4:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

/*==================================================
 * Effect 5
 * ===============================================*/
.effect5
{
  position: relative;
}
.effect5:before, .effect5:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.effect5:after
{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

/*==================================================
 * Effect 6
 * ===============================================*/
.effect6
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0) inset;
}
.effect6:before, .effect6:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect6:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/*==================================================
 * Effect 7
 * ===============================================*/
.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/*==================================================
 * Effect 8
 * ===============================================*/
.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}