/*.ios, .md {
 
 .login-bg{
      background: linear-gradient(141deg, #f09a33 0%, #f13259 51%, #7f2879 75%);


 }
 .login-bg .item-md{
  background: transparent;
 }
 .middle{
  text-align: center;
  vertical-align: middle;
  line-height: 90px; 
 }
 .login-bg ion-label{
    color:#fff;
 }
 .login-bg ion-input input{
    color:#fff;
 }
 .login-bg .input-cover{
     border-radius: 5px;
    border: 1px solid gray;
 }
}*/

 
  .login-content {
    /*background: #56CA96;*/
   /*background: linear-gradient(to left, #00bee4 0%, #0091d2 100%);*/
    background-color:#1a99d2;
    .logo-row {
      padding-top: 80px;
      padding-bottom: 20px;
    }
 
    .login-box {
      background: transparent;
      padding: 20px 0px 0px 0px;
      margin-top: 30px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
     .light-bg{
        background: #fff;
      }
     .ibs-color{
      color : #1b93d3;
     }
 
     ion-item {
             border-radius: 5px !important;
    /* padding-left: 30px !important; */
    font-size: 0.9em;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    /*border-bottom: 0px !important;*/
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: hsla(0, 0%, 98%, 0);
    border: rgba(255, 255, 255, 0.45) !important;
     }
     ion-item ion-label ion-icon{
            color: #fff;
    margin: 0 0 0 16px;
    font-size: x-large;
     }
      ion-input input{
      color:#fff;
      font-size: 20px;
    }
    ion-item ion-input:focus{
      outline:none !important;
    }

     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #51CFB1;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }
 
     .register-btn {
       color: #ffffff;
       font-size: 0.8em;
     }
     .list-md .item-block .item-inner{
      border-bottom:1px solid #dedede !important;
     }
     .logo-row .col img{
        width :75%;
     }
     ion-input input::-moz-placeholder {
      color: white;
    }

    ion-input input:-ms-input-placeholder {
      color: white;
    }

    ion-input input::-webkit-input-placeholder {
      text-indent: 0;
      color: white;
    }
  }
 
/*
 .login-content {
    background: #56CA96;
 
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
 
    .login-box {
      background: #399F8B;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #51CFB1;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }
 
     .register-btn {
       color: #ffffff;
       font-size: 0.8em;
     }
  }
 
*/
