<!-- <ion-content padding no-bounce class="login-bg">
  <ion-list class="middle">
    <div padding>
        <img src="assets/images/asf_logo.png"/>
    </div>
  <ion-item round border>
    <ion-label><ion-icon name="md-person"></ion-icon></ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item round border>
    <ion-label><ion-icon name="md-lock"></ion-icon></ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <div padding>
    <button ion-button color="secondary-green" round outline>Sign In</button>
  </div>
</ion-list>
</ion-content>
 -->

 <ion-content class="login-content">
  <ion-row class="logo-row">
    <ion-col class="light-bg effect6">
        <img src="assets/imgs/IBS_Logo.png"/>
    </ion-col>
  </ion-row>
  <div class="login-box" padding>
    <form (ngSubmit)="loginAccount()" #registerForm="ngForm"> <!--(ngSubmit)="loginAccount()" -->
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item>
              <ion-label><ion-icon name="md-person"></ion-icon></ion-label>
              <ion-input type="text" placeholder="Username" name="Username" [(ngModel)]="registerCredentials.email" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label><ion-icon name="md-lock"></ion-icon></ion-label>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button color="light" class="ibs-color" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
          <!-- <button ion-button class="register-btn" block clear (click)="createAccount()">Create New Account</button> -->
        </ion-col>
      </ion-row>
      
    </form>
  </div>
</ion-content>